In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [26]:
pd.set_option('display.max_colwidth', None)

In [27]:
# bank_statement = './data/bank/20240725-20241117-3860.csv'
# bank_statement = './data/bank/20241001-20241201-3860.csv'
bank_statement = './data/bank/20231203-20241201-3860.csv'

In [28]:
from datetime import date, datetime
from dateutil.parser import parse

def handle_date(value):
    return datetime.strptime(value, "%d/%m/%Y")


def handle_description(value):
    return value.lower().strip()


df = pd.read_csv(
    bank_statement,
    converters={
        "Date": handle_date,        
        "Description": handle_description,        
    },
)

df["year"] = df.apply(lambda row: row["Date"].year, axis=1)
df["month"] = df.apply(lambda row: row["Date"].month, axis=1)

In [29]:
df.head()

,Date,Description,Amount,Balance,year,month
0,2024-12-02,f/d credit 454312454312******3484,-2000.00,6921.27,2024,12
1,2024-12-02,404758 31113879 internal transfer,2000.00,8921.27,2024,12
2,2024-12-02,paypal payment,-10.99,6921.27,2024,12
3,2024-12-02,octopus,-265.14,6932.26,2024,12
4,2024-12-02,gocardless,-118.00,7197.40,2024,12

In [30]:
df.dtypes

Date           datetime64[ns]
Description            object
Amount                float64
Balance               float64
year                    int64
month                   int64
dtype: object

In [31]:
df[df.Description.str.contains("napo limited")]

,Date,Description,Amount,Balance,year,month
41,2024-11-25,napo limited monthly pay,8766.21,12740.25,2024,11
139,2024-10-25,napo limited monthly pay,5554.70,5358.39,2024,10
256,2024-09-25,napo limited monthly pay,5542.69,4848.39,2024,9
409,2024-08-23,napo limited monthly pay,5556.69,33060.88,2024,8
507,2024-07-25,napo limited monthly pay,5557.10,4802.85,2024,7
619,2024-06-25,napo limited monthly pay,5556.69,5089.67,2024,6
735,2024-05-24,napo limited monthly pay,5641.93,5984.72,2024,5
828,2024-04-25,napo limited monthly pay,5642.34,5620.09,2024,4
944,2024-03-25,napo limited monthly pay,5579.51,6000.08,2024,3
1034,2024-02-23,napo limited monthly pay,5579.11,5740.87,2024,2
1067,2024-02-08,napo limited 07f028f2-e031-4163,230.22,1620.49,2024,2
1120,2024-01-25,napo limited monthly pay,5579.12,4613.93,2024,1
1160,2024-01-04,napo limited cc378099-0420-4db0,480.00,2127.82,2024,1
1210,2023-12-20,napo limited monthly pay,5516.29,5240.10,2023,12

In [32]:
bakery = df[df.Description.str.contains("coffee joi")]
bakery

          Date               Description  Amount   Balance  year  month
32  2024-11-25  sumup  *coffee joilondon    -5.0  12727.19  2024     11
86  2024-11-06  sumup  *coffee joilondon    -7.7   3077.56  2024     11
106 2024-11-01  sumup  *coffee joilondon    -6.9   3915.00  2024     11
119 2024-10-29  sumup  *coffee joilondon    -6.2   4544.97  2024     10
148 2024-10-21  sumup  *coffee joilondon    -9.4    -50.54  2024     10
188 2024-10-11  sumup  *coffee joilondon    -4.7   2261.08  2024     10
206 2024-10-07  sumup  *coffee joilondon    -2.5   2783.42  2024     10
242 2024-09-30  sumup  *coffee joilondon    -7.2   4196.55  2024      9
273 2024-09-18  sumup  *coffee joilondon    -5.0   -456.05  2024      9
328 2024-09-09  sumup  *coffee joilondon    -9.4    -85.11  2024      9
363 2024-09-02  sumup  *coffee joilondon    -9.1  21698.20  2024      9
722 2024-05-28  sumup  *coffee joilondon    -7.2   5439.40  2024      5
786 2024-05-07  sumup **coffee joilondon   -13.2   2162.59  2024      5
819 2024-04-29  sumup **coffee joilondon   -11.2   5387.85  2024      4
841 2024-04-22  sumup **coffee joilondon   -13.8    260.17  2024      4
869 2024-04-15  sumup  *coffee joilondon    -9.1    955.80  2024      4
879 2024-04-09  sumup **coffee joilondon   -11.6   1456.20  2024      4
915 2024-04-02  sumup  *coffee joilondon    -6.9   4887.86  2024      4
940 2024-03-25  sumup  *coffee joilondon    -6.9   5894.72  2024      3

In [33]:
bakery.groupby([bakery.year, bakery.month]).Amount.sum()

year  month
2024  3        -6.9
      4       -52.6
      5       -20.4
      9       -30.7
      10      -22.8
      11      -19.6
Name: Amount, dtype: float64

In [34]:
areas = {
    "food": [
        "SAINSBURYS",
        "LOON FUNG LTD",
        "WAITROSE",
        "Wimbledon Market",
        "ENFIELD FOOD CENTR",
        "Coffee JoiLondon",
        "TESCO STORES",
        "WM MORRISONS",
    ],
    "pt": [
        "TFL TRAVEL"
    ],
    "utility": [
        "THAMES WATER",
        "VIRGIN MEDIA",
        "EE LIMITED",
        "OCTOPUS",
        "1PASSWORD",
        "BACKBLAZE",
        "Prisilla.S-Cleaner30ChesnutRoad",
        "NOTION LABS"
    ],
    "car": [
        "Tesla",
        "M6 TOLL",
        "MOTO RUGBY",
        "RUGBY  PRET",
        "FLEET SOUTH",
        "FLEET NORTH"
        "PARK WITH EASE",
        "RINGGO",
        "Weymouth SF ConnecWeymouth",
        "PAY-DARTFORD",
        "FLINT MOUNTAIN"
    ],
    "health": [
        "Kaja PeersLondon",
        "Sano Hair",
        "BUPA PAYMENTS",
        "Nuffield Health"
        "BOOTS",
        "PUREBIO",
    ],
    "hobby": [
        "ROCKFAX",
        "GOCARDLESS",
        "CASTLE CLIMBING",
        "LODGE DINORWIG",
        "SportsDirect",
        "Absolute-Snow",
        "Tradeinn",
    ],
    # "revolut": [
    #     "Oisin Mulvihill   OB"
    # ],
    "financial": [
        "AIG LIFE LTD",
        "SCOTTISH PROVIDENT",
        "AVIVA",
        "FAREWILL"
    ],
    "repayments": [
        "NOVUNA PERSONAL FI",
        "TESCO BANK",
        "MBNA LOANS",
        "FIRST DIRECT VISA",
        "MBNA LIMITED",
        "F/D CREDIT"
    ],
    "restaurants": [
        "XING LONG MEN",
        "GOLDEN DRAGON CHIN",
        "Q T RESTAURANT LIMLONDON",
        "BOULANGERINorthwood",
        "The garden house",
        "DING TEA",
        "Little Teapot TaveLondon",
        "PRET A MANGER",
        "PP NOODLE BAR",
        "Kings Oak Loughton",
        "VINEYARD",
        "The Peruvian CorneLondon"
        "DanDan",
        "Boom Battle Bar",
        "BABEL GRILL HOUSE LONDON E1",
        "FORESTRY ENGLAND  TUNBRIDGE WEL"
        "KOREAN BBQ AND VEGLONDON EC1Y",
        "DORSET COUNTY HOSPDORSET",
        "THE KING & THAI   DORCHESTER",
        "BURGER KING",
        "PANOPOLIS",
        "CAMPBELL S        lift",
        "SUNDAY*Plaza Khao London",
        "FUNICULARP* YOELLODUDLEY",
        "HEYTEA",
        "Katsute 100",
        "THE TEA HOUSE",
        "SP PROUD CABARET",
        "MCDONALDS",
        "LIGHT BITE"
    ],
    "travel": [
        "RYANAIR",
        "Ryanair",
        "STANSTED EXPRESS",
        "VRBO",
        "Hampton by Hilton",
        "EXPEDIA",
        "AIRALO"
    ],
    "mortgage": [
        "FD YS WONG        Mortgage"
    ],
    "paypal": [
        "PAYPAL PAYMENT"
    ],
    "amazon": [
        "AMZNMktplace", 
        "AMAZON",
    ],
    "google": [
        "GOOGLE"
    ],
        
}

In [35]:
# pattern = "|".join([a.strip().lower() for a in areas['Food']])
# df[df.Description.str.contains(pattern)]

In [36]:
totals = {}

for area in areas:    
    pattern = "|".join([a.strip().lower() for a in areas[area]])
    totals[area] = df[df.Description.str.contains(pattern)].groupby([df.year, df.month]).Amount.sum()

pd.DataFrame(totals).fillna("")

              food     pt  utility     car  health   hobby financial  \
year month
2023 12    -545.56 -46.65  -137.00  -18.36   -62.0  -16.50   -387.24
2024 1     -354.59  -32.7  -332.98   -44.0         -134.50   -387.24
     2     -503.38  -57.2  -342.98   -50.6    68.0 -151.00   -387.24
     3     -457.52 -86.25  -342.98   -15.6 -150.92 -156.00   -387.24
     4     -768.65  -83.6  -368.64  -53.64   -62.0 -185.65   -387.24
     5     -350.88 -64.15  -359.77  -91.81 -138.07 -163.50   -387.24
     6     -394.61 -101.6  -465.05   -11.2   -62.0 -340.49   -387.24
     7     -433.41 -42.05  -435.78  -68.95   -62.0 -297.50   -185.31
     8     -301.67 -63.15  -435.65  -70.45    90.0 -356.00  28475.85
     9     -457.64 -71.65  -490.46 -351.35   -62.0 -330.81    -141.5
     10    -430.42 -83.75  -465.73 -507.24   -62.0 -207.00    -136.5
     11    -327.31  -44.0  -480.70 -426.59 -138.19 -164.50    -136.5
     12                    -265.14                 -118.00

            repayments restaurants  travel mortgage   paypal  amazon google
year month
2023 12       -1238.66       -45.8   -59.4   -849.8   -78.41 -211.61  -7.99
2024 1        -1033.68       -23.9   -5.54   -849.8   -37.96  -172.7  -7.99
     2        -1028.74                       -849.8   -41.40   -13.1 -17.48
     3        -1023.94       -55.3           -849.8  -108.55 -195.81 -17.48
     4        -1019.22      -76.92           -886.3   -26.97 -254.07 -17.48
     5        -1026.58      -59.25   -71.9   -886.3   -38.96 -179.12 -17.48
     6        -1039.50       -25.6          -1000.0  -148.89 -331.58 -10.98
     7        -1035.19      -102.1   -88.8           -137.87   -26.9  -7.99
     8        -1042.33     -105.23  -81.43   -886.3  -148.58   -96.9 -67.98
     9       -10843.88     -363.41  -210.0   -886.3  -137.79  -138.4 -63.05
     10       -2311.70     -313.44  -99.16   -886.3 -1895.97 -183.55  -7.99
     11        -103.10     -131.85 -282.11   -886.3   -26.25  -19.42  -7.99
     12       -2000.00                                -10.99